main.entry {
}

main nav {
	font-family:sans-serif;
	
	background-color:#cc9;
	color:#996;
}
main nav >a {
	display:inline-block;
	
	padding:0.5rem 0.25rem;
	
	color:#000;
}
main nav >a[href] {
	color:#00f;
}


main.entry .level {
	height:4.5rem;
	margin:1px 0 0;
	
	background-color:#f99;
}
main.entry .level[success] {
	background-color:#9f9;
}

main.entry .level >div {
	display:inline-block;
	
	text-align:center;
	vertical-align:top;
}

main.entry .level .lv {
	width:2rem;
	padding:0.3rem 0.25rem 0;
	
	height:100%;
	line-height:1.3;
	
	background-color:#330;
	color:#ccc;
}
main.entry .level .result {
	float:right;
	
	width:4.5rem;
	padding:1rem 0 0;
	
	height:100%;
	
	background-color:#900;
	color:#fff;
}
main.entry .level[success] .result {
	background-color:#090;
}
main.entry .level .result .power {
	font-size:1.5rem;
	
	margin:0 0 0.25rem;
	
	text-align:center;
}

main.entry .level .item {
	width:3.5rem;
	height:3.5rem;
	margin:0.5rem 0 0 0.5rem;
	border-width:0.25rem;
	border-radius:0.5rem;
	
	border-style:solid;
	
	border-color:transparent;
}
main.entry .level .item.difficulty {
	margin-right:1.5rem;
	
	background-color:#666;
	color:#fff;
}
main.entry .level .item.golemPower {
	background-color:#fff;
	border-color:#333;
	color:#333;
}
main.entry .level .item.golemPower[digit="4"] .value {
	transform: scale(0.8, 1);
}
main.entry .level .item.golemPower[digit="5"] .value {
	transform: scale(0.66, 1);
}

main.entry .level .item.dice {
	background-color:#ccc;
	border-color:#333;
	color:#333;
}
main.entry .level .item.dice .label {
	transform: scale(0.9, 1);
	transform-origin: right;
	
	color:#666;
}

main.entry .level .item .value {
	font-size:1.25rem;
	
	height:1.25rem;
	margin:0.75rem 0 0;
}
main.entry .level .item .label {
	font-size:0.75rem;
	
	height:0.75rem;
	margin:0.25rem 0.1rem 0;
	
	text-align:right;
}